//
// Card
//


.card-translucent {
    background-color: rgba(18, 91, 152, 0.08);
}
.cardContainer {
    display:flex;
    flex-direction: row;
    width:100%;
    align-items: center;
}
.cardlogo {
   justify-self: flex-start;
    padding-left: 12px;
  padding-top: 12px;
}
.cardContainer .cardTitle {
    padding-left: 50px;
  align-items: center;
}